<div id="footer">
    <div class="container">
        <div id="copyright">
            <p class="text-muted credit">{{'footer.copyright' | translate}}</p>
        </div>
        <!--<div class="col-xs-2 col-md-1 credit" ng-controller="translateController">-->
        <div id="translations" ng-controller="translateController">
            <img src="img/en_flag.png" ng-click="changeLanguage('en')">
            <img src="img/pl_flag.png" ng-click="changeLanguage('pl')">
        </div>
    </div>
</div>
</div>